* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.caption-text {
    text-align: center;
    font-family: "Roboto";
    color: #828a9e;
}

.header-container{
    display:flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 20px 0;
    color: white;
}

.header-content{
    width: 1200px;
    display:flex;
    justify-content: space-between;
}

.header-logo {
    font-size:24px;
    font-weight:bold;
}


.links {
    display:flex;
    justify-content: flex-end;
    font-size:18px;
}

.link-two{
    margin-left: 20px;
}
.link-three{
    margin-left: 20px;
}

.awesome-container{
    display:flex;
    background-color: #1F2937;
    height: 500px;
    justify-content: center;
}

.awesome-content{
    width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.awesome-image{
    height: 300px;
    width: 600px;
    background-color: grey;
    align-content: center;
    text-align: center;
    color: white;
}

.awesome-text-container{
    width: 500px;
    height: 300px;
}

.main-text{
    
    font-size: 50px;
    color: #F9FAF8;
    font-weight: bold;
}

.sub-text{
    padding-top: 10px;
    font-size: 20px;
    color: #E5E7EB;
}

.Sign-up{
    background-color: #3882F6;
    height: 40px;
    width: 130px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}

.information{
    color: black;
    text-align: center;
    height: 125px;
    font-size: 30px;
    font-weight: bold;
    align-content: center;
}

.illustration-container, .caption-container {

    display: flex;
    justify-content: center;
} 

.illustration-content  {
    
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 900px;

    align-items: center;
    align-content: center;
}

.caption-content {
    display: flex;
    justify-content:space-between;
    height: 100px;
    width: 900px;
}

.illustration-box, .caption-box {
    
    width: 150px;
    height: 150px;


}

.illustration-box{
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.quote-container {
    display: flex;
    height: 300px;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    
}

.quote-content{
    width: 800px;
    height: 200px;
    padding: 20px;
    
}


.quote-text{
    font-size:27px;
    color: #1F2937;
}

.author{
    text-align: right;
    padding-top:20px;
    padding-right: 40px;
    font-size: 24px;
}

.call-container{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.call-content{
    display:flex;
    background-color: #3882F6;
    width: 950px;
    height: 125px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.time-content {
    display: flex;
    flex-direction: column;
}

.Sign-up-2 {
    width: 130px;
    height: 35px;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
    font-size: 20px;
    font-weight: bold;
}

.action {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.product {
    color: white;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    
}

.foot-text{
    font-size: 22px;
    color: white;

}









